* {
	color: white;
}
/*
.item img {
	height:300px; 
	width:100%;
}*/

.panel-body {
/*background: rgba(46, 51, 56, 0.2)!important;*/
}

.panel {
	opacity: 0.85;
}

/*.panel:hover {
	opacity: 1;
}*/
/*.panel:hover {
	opacity: 1;
}*/

tr {
	background: #323232;
	opacity: 0.85;
}

tr:hover {
	opacity: 1;
}

button {
	background: transparent;
	width: 70px;
}

.going {
	background-color:white;	
	color: black;
}

.join {
	background-color:#2baff1 ;
	color: white;
}

td a {
	font-weight: bold;
	color: #2baff1;
}

