/** {
	color: white;
}*/
/*
.item img {
	height:300px; 
	width:100%;
}*/

.panel-body {
background: rgba(46, 51, 56, 0.2)!important;
}

.panel {
	opacity: 0.8;
}

button {
	background: transparent;
	width: 70px;
}

.going {

}

.join {
	background-color:#2baff1 ;
	color: white;
}

.container {
	background: white;
	opacity: .8;
}