<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Keep track of meteorites in your area!">
	<title>Login/Registration</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
	<div class='container'>
		<h1>Welcome!</h1>
		<div class='col-sm-4'>
			<h4>Register:</h4>	
			<form action="/register" method="POST">
				Name:<br>
				<input type="text" name="name"><br>
				Alias:<br>
				<input type="text" name="alias"><br>
				Email:<br>
				<input type="text" name="email"><br>
				Password (at least 8 characters):<br>
				<input type="password" name="password"><br>
				Confirm Password:<br>
				<input type="password" name="password_confirmation"><br><br>
				Date of Birth:<br>
				<input type='date' min='1899-01-01' max='2016-09-26' name="birthday">
				<input type="submit" value="Register">
			</form>
			<br>
			<hr>
			<h4>Login:</h4>
			<form action="/login" method="POST">
				Email Address:<br>
				<input type="text" name="email"><br>
				Password:<br>
				<input type="password" name="password"><br><br>
				<input class="button" type="submit" value="Login"><br><br>
			</form>	
		</div>
	</div> <!-- end of container -->	

	<div class='flash'>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<p class="{{category}}">{{message}}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</div>	
</body>
</html>