<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Keep track of meteorites in your area!">
	<title>Stardate - Upcoming events</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
		
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- Backstretch plugin -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
	<script src="/static/js/background.js"></script>

	<script src="/static/js/main.js"></script>

</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Stardate</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Star events</a></li>
					<li><a href="/users/edit">Profile</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/users/edit">Edit profile</a></li>
							<li><a href="/users/show/{{session['user_id']}}">View messages</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav><!-- End navbar -->

	<div class='container'>
	<div class="col-sm-12">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
						<div class='alert alert-info'>{{message}}</div>
				{% endfor %}
			{% endif %}
		{% endwith %}

		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading"><h4>All events</h4></div>

			<!-- Table -->
			<table class="table">
			<thead>
				<tr>
					<th>Meteor</th>	
					<th>Date</th>	
					<th>Diameter (km)</th>	
					<th>Distance (km)</th>	
					<th>Joining?</th>	
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="/view/1">Meteor 1</a></td>
					<td>September 1, 2016</td>					
					<td>10</td>					
					<td>1000</td>					
					<td><button id="1" class="btn going">Going!</button></td>					
				</tr>						
				<tr>
					<td><a href="/view/2">Meteor 2</a></td>
					<td>September 1, 2016</td>					
					<td>10</td>					
					<td>1000</td>					
					<td><button id="2" class="btn join">Join</button></td>					
				</tr>			
				<tr>
					<td><a href="/view/3">Meteor 3</a></td>
					<td>September 1, 2016</td>					
					<td>10</td>					
					<td>1000</td>					
					<td><button id="3" class="btn join">Join</button></td>					
				</tr>			
				<tr>
					<td><a href="/view/4">Meteor 4</a></td>
					<td>September 1, 2016</td>					
					<td>10</td>					
					<td>1000</td>					
					<td><button id="4" class="btn going">Going!</button></td>					
				</tr>															
				{% for user in users %}
					{% if user['id'] != session['user_id'] %}
						<tr>
							<td>{{user['id']}}</td>
							<td><a href="/users/show/{{user['id']}}">
									{{user['first_name']}} {{user['last_name']}}
								</a>
							</td>							<td>{{user['email']}}</td>
							<td>{{user['user_date']}}</td>
							<td>{{user['level']}}</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>